@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&family=Inter:wght@400;700&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&family=Inter:wght@400;700&family=Open+Sans&family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr-Very-Dark-Blue: hsl(243, 87%, 12%);
    --clr-Desaturated-Blue: hsl(238, 22%, 44%);
    --clr-Bright-Blue: hsl(224, 93%, 58%);
    --clr--Moderate-Cyan: hsl(170, 45%, 43%);
    --clr-Light-Grayish-Blue: hsl(240, 80%, 98%);
    --clr-Light-Gray: hsl(0, 0%, 75%);
}
body{
    margin: 1rem;
    background-color: var(--clr-Light-Grayish-Blue);
}
nav{
    margin-top: 2rem;
}
.nav1 img{
    width: 5rem;
}

.navbar{
    display: flex;
    justify-content: right;
    margin-top: -2rem;
    margin-bottom: 2rem;
    font-family: 'Raleway', sans-serif;
    color: black;
}

h4 a{
    color: var(--clr-Light-Gray);
    padding: 0.5rem;
    padding-top: 2rem;
    color: black;
    font-size: .8rem;
}
.logo-img{
    width: 8rem;
}
.all{
    margin: 1rem;
    margin-top: 3rem;
    font-family: 'Open Sans', sans-serif;
}
.all h2{
    font-size: 1.9rem;
    text-align: center;
    color: var(--clr-Very-Dark-Blue);
    font-weight: 1000;
}

.all p{
    margin-top: 1rem;
    text-align: center;
    font-size: 1.1rem;
    
}

input{
    height: 2rem;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 1.2rem;
}
.all button{
    background-color: var(--clr-Bright-Blue);
    width: 100%;
    height: 2rem;
    border-radius: 3px;
    padding: 1.2rem;
    line-height: .3rem;
    font-size: 1rem;
    border-color: var(--clr-Bright-Blue);
    color: var(--clr-Light-Grayish-Blue);
}
section img{
    width: 100%;
    margin-bottom: 4.5rem;
}

bg{
    background-image: url(../images/bg-curve-mobile.svg);
    width: 100%;
    height: 5rem;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 5rem;
}
.stay img{
    width: 100%;
    margin-bottom: 4.5rem;
    margin-top: 5rem;

}
.stay1{
    text-align: center;
    margin-bottom: 1.5rem;
}

.stay p{
    font-size: 1.1rem;
    color: var(--clr-Light-Gray);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
}

p.one{
    margin-top: 1rem;
}

.fylo a:link{
    color: var(--clr--Moderate-Cyan);
    display: block;
    text-align: center;
}

.fylo{
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    display: block;

}
.fylo img{
    display: block;
    height: rem;
    width: 1rem;
    float: right;
    margin-top: -1rem;
    margin-right: 5.5rem;
}
.logo{
    border: 2px solid;
    margin-bottom: 6rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border-color: var(--clr-Light-Grayish-Blue);
    background-color: #ffff;
    box-shadow: 8px 7px 28px -11px;
    border-radius: 1px;
    margin-top: 4rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.logo p{
    color: black;
    font-weight: 590;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}
.logo img{
    width: 1rem;
}

.logo p{
    margin-top: -4.5rem;
}

.review img{
    width: 2rem;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: .5rem;
}

.review h3{
    margin-left: 3.5rem;
    margin-top: -7.5rem;
}
.review h4{
    margin-left: 3.5rem;
    font-weight: 100;
    color: var(--clr-Very-Dark-Blue);
    font-size: 10px;
}


.get{
    background-color: var(--clr-Desaturated-Blue);
    padding: 4rem;
    color: var(--clr-Light-Grayish-Blue);
}

.get h2{
    text-align: center;
    padding-bottom: 1rem;
}

.get p{
    text-align: center;
    font-size: 1.2rem;
    opacity: 80%;
    font-weight: 400;
}

.get input{
    width: 95%;
    color: var(--clr-Light-Grayish-Blue)
}
.get button{
    width: 95%;
    height: 2.5rem;
    background-color: var(--clr-Bright-Blue);
    border-color: var(--clr-Bright-Blue);
    color: var(--clr-Light-Grayish-Blue);
    border-radius: 1px;
}
.end{
    padding-top: 3rem;
    background-color: var(--clr-Very-Dark-Blue);
    padding-bottom: 4rem;
}

.end img{
    display: flex;
    margin-left: 3rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    margin-bottom: 2rem;
}
.end1{
    display: flex;
    align-items: flex-start;
    margin: 1rem;

}
.end1 i{
    color: var(--clr-Light-Grayish-Blue);
    padding-right: 0.5rem;
}
ul{
    list-style: none;
    color: var(--clr-Light-Grayish-Blue);
    opacity: 90%;
}

.end1 li{
    padding-bottom: 1rem;
}

.about{
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

.about li{
    padding-bottom: 1rem;
}

.contact{
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}
.contact li{
    padding-bottom: 1rem;
}
.social{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: #fff;
}

.social i{
    padding-left: 3rem;
}


@media screen and (min-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        min-width: 100vh;
        margin: 2rem;
    }
    nav{
        padding-bottom: 4rem;
    }
    .nav1 img{
        width: 10rem;
    }
    h4 a{
        font-size: 1rem;
        padding: 2rem;
    }
    section img{
        float: right;
        width: 25rem;
        height: 20rem;
        
    }
    input{
        width: 35%;
    }
    .all button{
        width: 23%;
        padding-top: 1rem;

    }
    .all p{
        text-align: left;
        font-size: 1.6rem;
    }
    .stay{
        margin-top: 10rem;
        font-family: 'Open Sans', sans-serif;
    }
    .stay .bg{
        background: url(../images/bg-curve-desktop.svg);
        width: 100%;
    }
    .stay img{
        float: right;
        width: 40%;
        height: 35rem;
        margin-top: .5rem;
        margin-right; 
    }

    
    .all h2{
        color: var(--clr-Very-Dark-Blue);
        margin-top: 10rem;
        text-align: left;
        font-size: 3.5rem;
    }
    .stay h2{
        color: var(--clr-Very-Dark-Blue);
        font-size: 3rem;
        font-weight: 900;
        text-align: left;
        margin-top: 15rem;
    }
    .stay p{
        text-align: left;
        padding-right: 10rem;
        color: black;
        font-size: 1.2rem;
        margin-right: 5rem;
        font-weight: 700;
    }

    .fylo{
        text-decoration: underline;
    }
    .fylo a:link{
        text-align: left;
        font-weight: 700;
    }
    .fylo img{
        width: 1.5rem;
        height: 1.5rem;
        margin-top: -1.5rem;
        margin-right: 37rem;
    }
    .logo{
        width: 35.5rem;
        margin-top: 4.5rem;
    }
    .logo img{
        width: 1rem;
        height: 1rem;
        margin-right: 31rem;
        margin-top: 1.5rem;
    }
    .logo p{
        color:;
    
    }


}